Code to preprocess the Vietnam draft earnings data and generate the dataset used in our experiments.

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
DATA_DIR = ""

In [ ]:
df_cpi = pd.read_stata(os.path.join(DATA_DIR, "cpi_angrist1990.dta"))
df_cpi.head()

   year         cpi
0    66   97.199997
1    67  100.000000
2    68  104.199997
3    69  109.800003
4    70  116.300003

In [ ]:
df = pd.read_stata(os.path.join(DATA_DIR, "cwhsc_new.dta")).merge(df_cpi, on="year")
df.head()

   byr  race  year   type  ...     ern82     ern83     ern84         cpi
0   50     1    74    ADJ  ...  0.354887  0.387296  0.408793  147.699997
1   50     2    74    ADJ  ...  0.238426  0.256590  0.405801  147.699997
2   50     1    74  TAXAB  ...  0.293612  0.379930  0.420998  147.699997
3   50     2    74  TAXAB  ...  0.256259  0.268377  0.402271  147.699997
4   50     1    74    ADJ  ...  0.354887  0.387296  0.408793  147.699997

[5 rows x 26 columns]

In [ ]:
df = df[np.logical_and(df["race"] == 1, df["byr"] == 51)]
df["eligible"] = (df["interval"] <= 25).astype(int)
df["earnings_normed"] = df["earnings"] * 100 / df["cpi"]
df = df[["eligible", "earnings_normed"]].reset_index()
df.head()

   index  eligible  earnings_normed
0      5         0      5288.552734
1      6         1      5445.729492
2      7         1      5051.804199
3      8         1      5283.813965
4      9         0      5841.556641

In [ ]:
df.to_csv(os.path.join(DATA_DIR, "angrist_1951_cohort.csv"), index=False)